body{
    background: black;
}
.title{
    margin: 0 auto;
    width: 75%;
    background-position: center center;
    background: linear-gradient(teal, transparent);
    /*
    ("position","relative")
    ("margin"," 0 auto")            
    ("color","yellow")
    ("background-color","white")
    ("display","inline-block")
    ("text-align","center")
    */
}

.fullscreen{
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;

}
.appHolder{
    background: black;
    font-size: 3rem;
    opacity: 0; /* hides it from FOUC at load time*/
    transition: all 2s ease;    
}
.splashScreen1{
    top: -4.5rem;
    background-color: black;
    background: url(BirdBeat.gif) no-repeat center;
    background-position: center top;    
    background-size: cover;
    width: 90rem;
    padding-bottom: 90rem;
    opacity: 1;
    font-size: 2rem;    
    transition: opacity 2s ease;
}

.splashScreen2{
    background-color: black;
    background: url(YourMusic.png) no-repeat center;
    background-position: center center;    
    background-size: contain;
    width: 55rem;
    padding-bottom: 10rem;
    opacity: 0;
    font-size: 2rem;    
    transition: all 2s ease;
}
